
        body {
            background-color: skyblue; /* Set the background color to sky blue */
            color: black; /* Set the text color to black for the whole body */
            font-weight: bold; /* Set the text to bold for the whole body */
            font-size: 24px;
        }

        .container{
            border: 5px solid red; 
            width: 400px;
        }
        .legend {
            color: black; 
            background: white; 
            padding: 10px; 
            font-size: 24px; /* Make the "Login Form" text larger */
        }
/* the  P tag applies to the Paragraph */
        p {
            color: blue;
            font-size: 16px;
            font-family: Arial, sans-serif;
        }
        .important-text {
            color: red;
        }
        a:hover {
            color: green;
        }
 